[submodule "rl_control_system"]
	path = rl_control_system
	url = git@github.com:tommyyv/rl_control_system.git
[submodule "c950-final"]
	path = c950-final
	url = git@github.com:tommyyv/c950-final.git
[submodule "test-full-stack"]
	path = test-full-stack
	url = git@github.com:tommyyv/test-full-stack.git
