[submodule "rl_control_system"]
	path = rl_control_system
	url = git@github.com:tommyyv/rl_control_system.git
[submodule "c950-final"]
	path = c950-final
	url = git@github.com:tommyyv/c950-final.git
[submodule "home"]
	path = home
	url = git@github.com:tommyyv/home.git
[submodule "teevu"]
	path = teevu
	url = git@github.com:tommyyv/teevu.git
[submodule "arduino"]
	path = teevu
	url = git@github.com:tommyyv/arduino.git
