---
import { Icon } from "astro-icon/components";
import type { SocialLink } from "../types/index.type";

type Props = SocialLink;

const { title, url, icon } = Astro.props;
---

<a
  href={url}
  class="flex items-center gap-2 opacity-60 group-hover:opacity-30 hover:!opacity-60 transition-opacity"
>
  <Icon name={icon} width={25} height={25} />
  <div>
    <p>{title}</p>
  </div>
</a>
