---
import Layout from '../layouts/Layout.astro';
import { aboutPageContent } from '../data';
import ResumeItem from '../components/ResumeItem.astro';
import SocialLinkBox from '../components/SocialLinkBox.astro';
import ProjectItem from 'src/components/ProjectItem.astro';
---

<Layout seo={aboutPageContent.seo}>
  <!--NOTE: about me section-->
  <section class="mt-10 max-w-2xl mx-auto px-6">
    <h1 class="text-3xl mb-1">About</h1>
    <p class="opacity-60 mb-10 subtitle">{aboutPageContent.subtitle}</p>
    <div class="mb-10">
      <p class="sm:text-left">
        <strong
          ><i
            >"Probably reading a book in a tree; if not, then probably doing
            something in a tree..."</i
          ></strong
        >
      </p>
      <p class="mb-8 text-right">- Someone</p>

      <p class="mb-5 sm:text-left">
        I have a fascination for integration between hardware and software,
        paralleling technologies that create modern systems and applications. As
        a former US Navy Sonar Technician on a submarine, I learned and worked
        on various engineering systems and their integration as a unified
        mechanical beast. My role consisted of operating and maintaining an
        integral portion of the tactical system: Sonar.
      </p>
      <p class="mb-5 sm:text-left">
        Currently, I integrate building automation and control solutions using
        microcontrollers, leveraging IoT to enhance tenants' comfort, safety,
        and productivity. Initially challenging due to the lack of HVAC and
        building automation and controls expertise but nonetheless rewarding.
      </p>
      <p class="mb-5 sm:text-left">
        When I'm not programming or getting elbows deep in an industrial HVAC
        system, I attempt to touch grass from time to time, or listen to music
        albums or grab a bite and catch up with friends.
      </p>
    </div>
  </section>

  <!--NOTE: work history; should I put a short description?-->
  <section class="my-20 mt-32 max-w-2xl mx-auto px-6 sm:flex sm:gap-16">
    <div>
      <h2 class="mb-8 sm:mb-0 opacity-60">Work</h2>
      <p>Recent roles:</p>
      <!--FIX: column spacing between title and date-->
      <div class="grid grid-cols-1 group">
        {aboutPageContent.work.items.map((item) => <ResumeItem {...item} />)}
      </div>
    </div>
  </section>

  <section class="my-20 mt-32 max-w-2xl mx-auto px-6 sm:flex sm:gap-16">
    <div>
      <h2 class="mb-8 sm:mb-0 opacity-60">Projects</h2>
      <div class="mb-6">Here are projects I enjoyed building:</div>

      This is my current tech toolbox that I've been using to develop
      applications:
      <strong>Node.js</strong>, <strong>Spring</strong>, <strong>AWS</strong>, <strong
        >Docker</strong
      >
      <div class="grid grid-cols-1 group">
        {
          aboutPageContent.project.items.map((item) => (
            <ProjectItem {...item} />
          ))
        }
      </div>
    </div>
  </section>

  <!--NOTE: projects section; should I put a short description-->
  <section class="mt-32 max-w-2xl mx-auto px-6 sm:flex sm:gap-16">
    <h2 class="mb-8 sm:mb-0 opacity-60">Connect</h2>
    <div>
      Come find me on 𝕏 (<a
        href="https://twitter.com/"
        target="_blank"
        class="underline-hover">Twitter</a
      >) and <a
        href="https://www.linkedin.com/"
        target="_blank"
        class="underline-hover">LinkedIn</a
      >
      or check out my <a href="" target="_blank" class="underline-hover"
        >GitHub</a
      >
      <div class="mt-6 grid grid-cols-2 gap-2 group">
        {
          aboutPageContent.connect.links.map((item) => (
            <SocialLinkBox {...item} />
          ))
        }
      </div>
    </div>
  </section>
</Layout>
