# Header {
#     dock: top;
#     background: green;
# }
#
# Footer {
#     dock: bottom;
#     background: purple;
# }
#
# Container {}
#
# Button {
#     width: auto;
#     padding: 1 2;
#     border: solid red;
# }
#
# Button:hover {
#     background: white !important;
#     color: black;
# }
#
# #content {
#   background: $primary-background;
# }
#
# # WIDGETS
# HomeNav {
#   align: center middle;
# }
